* {
    margin: 0;
    padding: 0;
}

/* html, body {
    height: 100%;
} */

body {
    background: url(/IMGS/fundoCarrinho.png);
    /* no-repeat center center/cover ; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    
    
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo {
        display: flex;
        width: 130px;
        margin-top: 30px;
        
    }

    h1 {
        font-size: 60px;
        color: white;
        margin-top: 10px;
        font-family: DM Sans;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .quadrado {
        display: flex;
        align-items: center;
        background-color: #FED83C;
        width: 990px;
        height: 215px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden; /* Adicionado para evitar estouro de texto */
        
        .text0 {
            font-size: 20px;
            margin-left: 30px;
            font-family: DM Sans;
            width: 60%; /* Ajuste para dar mais espaço à descrição */
        }

        .textValue{
            font-size: 25px;
            margin-left: auto; /* Ajuste para mover o valor mais para a direita */
            margin-right: 30px;
            font-family: DM Sans;
        }

        .img00 {
            display: flex;
            width: 190px;
            height: 215px;
            border-radius: 5px;
        }
    }

    .btnRemove0 {
        background-color: #FED83C;
        margin-left: 30px;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .btnRemove0:hover {
        background-color: red;
        color: white;
    }

    .btnDuplicar0 {
        background-color: #FED83C;
        margin-left: 10px;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .btnDuplicar0:hover {
        background-color: green;
        color: white;
    }
}

.total {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 200px; /* Reduzir o tamanho da caixa */
    height: 30px; /* Reduzir a altura da caixa */
    margin-top: 30px; /* Aumentar a distância dos lanches */
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: DM Sans;
    
    padding-top: 3.5px;
}

.btnFinish {
    width: 250px; /* Diminuir a largura do botão */
    height: 50px; /* Diminuir a altura do botão */
    background-color: #FED83C;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-top: 5px;
    font-size: 18px; /* Ajustar o tamanho da fonte */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionar transição para animação */
}

.btnFinish:hover {
    background-color: #FFA500; /* Cor de fundo ao passar o mouse */
    color: white;
    transform: scale(1.05); /* Adicionar animação de escala */
}

.btnVoltar {
    background-color: #FED83C;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionar transição para animação */
    margin-top: 5px;
}

.btnVoltar:hover {
    background-color: #FFA500; /* Cor de fundo ao passar o mouse */
    color: white;
    transform: scale(1.05); /* Adicionar animação de escala */
}

.pCarrinho{
    color: white;
    font-size: 30px;
    font-family: DM Sans;
    margin-top: 20px;
}
