* {
    margin: 0;
    padding: 0;
}

/* html, body {
    height: 100%;
} */

body {
    background: url(/IMGS/fundoCarrinho.png);
    /* no-repeat center center/cover ; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo {
        display: flex;
        width: 130px;
        margin-top: 30px;
        
    }

    h1 {
        font-size: 60px;
        color: white;
        margin-top: 10px;
        font-family: DM Sans;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .quadrado {
        display: flex;
        align-items: center;
        background-color: #FED83C;
        width: 990px;
        height: 215px;
        margin-top: 10px;
        border-radius: 5px;
        


        .text0 {
            font-size: 35px;
           margin-left: 50px;
           font-family: DM Sans;


        }

        .textValue{
            font-size: 35px;
            margin-left: 150px;
            font-family: DM Sans;

        }

        .img00 {
            display: flex;
            width: 190px;
            height: 215px;
            border-radius: 5px;

        }
       



    }

    .btnRemove0 {
        background-color: #FED83C;
        margin-left: 30px;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .btnRemove0:hover {
        background-color: red;
        color: white;
    }
    



    
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: DM Sans;


}

.btnFinish {
    width: 300px;
    height: 60px;
    background-color: #FED83C;
    font-weight: bold;
    border-radius: 5px;

    color: black;
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;


}

.btnFinish:hover {
    background-color: green;
    color: white;
}

.btnVoltar {
    background-color: #FED83C;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 5px;
}


.descricaoCarrinho{
    white-space: nowrap; 
    width: 25rem; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }