/* PEDIDOS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  main {
    font-family: Arial, sans-serif;
    background: url(https://minhareceita.com.br/app/uploads/2021/03/shutterstock_1751836019-scaled.jpg) no-repeat center center/cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;	
    text-align: center;
    padding: 1rem;
  }
  
  .pai {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  .papai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff25;
    border-radius: 10px;
    padding: 2rem;
    width: 80%;
    height:rem;
    max-width: 1000px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  
  
  .escolha {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
  }
  
  a{
   text-decoration: none;
  }
  
  
  .paiSite, .paiIfood, .paiWhats, .paiCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff79;
    padding: 1rem;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
    height: 200px; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
  
  
  .paiSite:hover, .paiIfood:hover, .paiWhats:hover, .paiCell:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .imgSite, .imgIfood, .imgWhats, .imgCell {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  
  h1 {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 600;
  }
  .title {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .escolha {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  }
  
  footer {
    display: block;
    font-family: Arial, sans-serif;
  }
  
  
  .amarelo {
    background-color: #FED83C;
    padding: 10px 20px; 
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .amarelo .logo2 {
    max-width: 70px; 
  }
  
  .amarelo .text2 {
    margin-left: 10px;
  }
  
  .amarelo .titulo {
    font-size: 20px; 
    color: #000000;
    margin: 0;
    
  }
  
  .amarelo .sub_titulo {
    font-size: 14px; 
    color: #000000;
    margin: 5px 0 0 0;
  }
  
  .amarelo .btn {
    margin-left: 20px;
  }
  
  .amarelo .btn2 {
    background-color: #000000;
    color: #FED83C;
    border: none;
    padding: 8px 16px; 
    cursor: pointer;
    font-size: 14px; 
    border-radius: 5px;
  }
  
  .amarelo .btn2:hover {
    background-color: #FED83C;
    color: #000000;
    border: 1px solid #000000;
  }
  
  
  .preto {
    background-color: #000000;
    color: #FED83C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
  }
  
  .preto .text4 {
    font-size: 18px; 
    text-align: left; 
    margin-bottom: 0; 
  }
  
  .preto .text5 {
    font-size: 18px; 
    text-align: center; 
  }
  
  .preto .text5 div {
    margin-top: 5px;
  }
  
  .preto .icons {
    display: flex;
    color: white;
    justify-content: center;
    align-items: end;
    margin-right: 18rem;
    gap: 2rem;
    font-size: 2.2rem;
  
  }