@font-face {
  font-family: 'Nabana';
  src: url('Fonts/Nabana.ttf');
  }

  @font-face { font-family: Nabana; src: url(./Nabana-ShadowBold\ -\ DEMO.ttf); } 
@font-face { font-family: NabanaNormal; src: url(./Nabana.ttf); } 
/* PEDIDOS RESPONSIVO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnCardapioA{
  background-color: #fed83c;
  color: #111111;
  border: none;
  width: 25rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: transform 0.6s ease;
  cursor: pointer;
  font-family: NabanaNormal;
  margin-top: 1rem;
}

.btnCardapioA:hover{
  transform: scale(1.1);
}

.logoEBtn{
  display: flex;
  align-items: center;
}

.amarelo{
  display: flex;
  gap: 2rem;
}

main {
  font-family: Nabana;
  background: url(https://minhareceita.com.br/app/uploads/2021/03/shutterstock_1751836019-scaled.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.pai {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 97vh;
  font-family: Nabana;

}

.papai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff25;
  border-radius: 10px;
  padding: 2rem;
  max-width: 1000px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}

.logo img:hover{
  transform: scale(1.1);
}

.escolha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

a {
  text-decoration: none;
}

.paiSite, .paiIfood, .paiWhats, .paiCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff79;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  font-family: Nabana;

}

.paiSite:hover, .paiIfood:hover, .paiWhats:hover, .paiCell:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.imgSite, .imgIfood, .imgWhats, .imgCell {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
  font-family: Nabana;

}

.title {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  font-family: Nabana;

}

@media (max-width: 1400px) {
  .pai {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95.6vh;
    font-family: Nabana;
  }
}

@media (max-width: 1024px) {
  .escolha {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }

  .logoEBtn{
    display: flex;
    align-items: center;
  }
  
  .amarelo{
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .escolha {
      grid-template-columns: 1fr;
      gap: 1rem;
  }

  .logoEBtn{
    display: flex;
    align-items: center;
  }
  
  .amarelo{
    display: flex;
    gap: 2rem;
  }
}

footer {
  display: block;
  font-family: Nabana;
}





/* Estilo do botão na seção amarela do rodapé */
.btn2 {
  background-color: #0000007a;
  color: #ffffff;
  border: none;
  padding: 8px 16px; 
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: transform 0.6s ease;
  font-family: Nabana;



}

/* Efeito hover no botão na seção amarela do rodapé */
 .btn2:hover {
  
    transform: scale(1.1);
  
  
}

/* Estilo da seção preta do rodapé */
.preto {
  background-color: #FED83C;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  font-family: Nabana;
  height: 12rem;

}

/* Estilo do texto na seção preta do rodapé */
.preto .text4 {
  font-size: 18px; 
  text-align: left; 
  margin-bottom: 0;
  font-family: Nabana;

}

/* Estilo do texto na seção preta do rodapé */
.preto .text5 {
  font-size: 18px;
  text-align: center; 
  font-family: Nabana;

}

/* Estilo do container de ícones na seção preta do rodapé */
.preto .text5 div {
  margin-top: 5px;
}

/* Estilo dos ícones na seção preta do rodapé */
.preto .icons {
  display: flex;
  color: white;
  justify-content: center;
  align-items: end;
  margin-right: 18rem;
  gap: 2rem;
  font-size: 2.2rem;
  font-family: Nabana;

}


@media (max-width: 480px) {
  .preto {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .preto .icons {
      margin: 10px 0;
  }

  .logoEBtn{
    display: flex;
    align-items: center;
  }
  
  .amarelo{
    display: flex;
    gap: 2rem;
  }
}
