* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo do corpo da página */
  body {
    background-color: #111;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background: url(/IMGS/fundoCarrinho.png);
    /* no-repeat center center/cover ; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
  }
  
  /* Estilo do cabeçalho */
  header {
    background-color: #fed83c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 3rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif; 
    position: sticky; 
    top: 0; 
    z-index: 100;
  }
  
  /* Estilo do container filho do cabeçalho */
  .headerFilho {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  /* Estilo do logo */
  .logo {
    width: 13rem;
    max-width: 100%;
    transition: transform 0.3s ease;
    margin-top: 5rem;
    position: absolute; 
    top: 5%; 
    left: 3%; 
    z-index: 1; 
    margin-top: -1rem;
    cursor: pointer;
  }
  
  /* Efeito hover no logo */
  .logo:hover {
    transform: scale(1.1);
  }
  
  /* Estilo do texto */
  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 16rem;
  }
  
  /* Estilo do subtítulo */
  .sub_titulo {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  /* Estilo do container de busca no cabeçalho */
  .headerFilhoBusca {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Estilo da barra de busca */
  .busca {
    background-color: #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px 16px;
    width: 25rem;
    transition: all 0.3s ease;
  }
  
  /* Efeito hover na barra de busca */
  .busca:hover {
    background-color: #333;
    border: solid 2px #fed83c;
  }
  
  /* Estilo do input de busca */
  input {
    background: none;
    border: none;
    color: #fff;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif; 
  }
  
  /* Estilo do input de busca quando focado */
  input:focus {
    outline: none;
  }
  
  /* Estilo dos ícones */
  i {
    color: #fff;
  }
  
  /* Estilo do ícone de pessoa */
  .bi-person-fill {
    font-size: 2.7rem;
    color: #222;
    cursor: pointer;
  }
  
  /* Estilo do ícone de sacola */
  .bi-bag-fill {
    font-size: 2rem;
    color: #222;
    cursor: pointer;
  }
  
  /* Estilo do ícone de hambúrguer */
  .burger {
    color: #fed83c;
    font-size: 2rem;
  }

  .main {
    display: flex;
  }

  .pai {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    
  }
    

 .sug01, .sug02, .sug03, .sug04, .sug05, .sug06, .sug07, .sug08, .sug09 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%; 
    height: 250px;
    margin-top: 100px;

}

.sug0 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 250px;
    width: 30rem;
    margin-top: 100px;
    padding: 2rem;
 img {
    width: 3.5rem;
    border-radius: 1000rem;
    height: 3.5rem;

 }
 color: black;
 font-size: 8px;
 
 i {
    font-size: 15px;
    color: red;
 }

 .ponto{
    color:#fed83c;
 }

 .text {
    display: flex;
    background-color: #fed83c;
    margin-left: 0;
    margin-top: 1rem;
    width: 90.5%;
    height: 10rem;
    border-radius: 5px;
  padding: 1rem;
   

  .sugestao {
    font-size: 1rem;
    margin-left: 10px;
  }
 }

 .info {
    display: flex;
    align-items: center;
    gap: 1rem;
 }
}
  
