<div class="container-fluid">
    <div class="row bg-amarelo-mix text-lg-center align-items-center justify-content-center py-3">
        <div class="col-auto">
            <img class="mw-70px img-fluid" src="~/IMGS/Logo.png" alt="Logo" />
        </div>
        <div class="col-auto text-start">
            <h1 class="fs-20px text-black m-0">Mix Burger</h1>
            <h2 class="fs-14px text-black m-1">Hamburgueria</h2>
        </div>
        <div class="col-auto mt-3 mt-md-0">
            <button onclick="irSugestão()" class="btn2">Deixe sua Sugestão</button>
        </div>
    </div>
</div>

<div class="container-fluid bg-black text-light py-4">
    <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-start">
            <p class="mb-1">Trabalhe Conosco</p>
            <p class="mb-0">Mix Burguer 2021 - Todos os Direitos Reservados</p>
        </div>
        <div class="col-md-4 text-center my-3 my-md-0">
            <a class="text-light me-3" href="https://www.facebook.com/people/Mix-Burguer/100088986305599/">
                <i class="bi bi-facebook fs-2"></i>
            </a>
            <a class="text-light me-3" href="https://wa.me/+5511933878825">
                <i class="bi bi-whatsapp fs-2"></i>
            </a>
            <a class="text-light" href="https://www.instagram.com/mixburguer_itupeva/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D#">
                <i class="bi bi-instagram fs-2"></i>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <p class="mb-1">Site feito por:</p>
            <p class="mb-0">Matheus, Otavio, Mikael, Samuel</p>
        </div>
    </div>
</div>
