<a asp-area="" asp-controller="Home" asp-action="Index">
<img class="position-absolute cursor-pointer logo"
         src="~/IMGS/Logo.png"
         alt="Logo" />
</a>
<div class="text ms-15rem w-100">
    <h1 class="fw-bold">Mix Burger</h1>
        <h2 class="text-white fs-5 fw-semibold sub_titulo">Hamburgueria </h2>
    </div>
    <div class="d-flex align-items-center gap-3">
    <a asp-area="" asp-controller="HomeAriel" asp-action="HomeAriel"><i class="bi bi-person-fill fs-2 text-dark cursor-pointer"></i></a>
        <i class="bi bi-bag-fill fs-4 text-dark cursor-pointer" onclick="btnSacola()"></i>
    </div>