<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MixBurguer</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MixBurguer.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body class="bg-black">
    <header 
        class="d-flex justify-content-between align-items-center position-sticky top-0 shadow-sm px-5"
        style="background-color: #fed83c; height: 7rem; font-family: 'Montserrat', sans-serif; z-index: 100;"
        role="rowheader">
        @if (ViewContext.RouteData.Values["Controller"]?.ToString() == "Cardapio")
        {
            @await Html.PartialAsync("HeaderBusca")
        }
        else if (ViewContext.RouteData.Values["Controller"]?.ToString() == "HomeAriel")
        {
            @await Html.PartialAsync("HeaderAriel")
        }
        else if (ViewContext.RouteData.Values["Controller"]?.ToString() == "CardapioAriel")
        {
            @await Html.PartialAsync("HeaderBuscaAriel")
        }
        else
        {
            @await Html.PartialAsync("Header")
        }
    </header>
        <main 
            role="main" 
            class="pb-3">
            @RenderBody()
        </main>

    <footer 
        style="font-family: Arial, sans-serif"
        class="d-block mt-5"
        role="menubar">
        @if (ViewContext.RouteData.Values["Controller"]?.ToString() == "Cardapio")
        {
            @await Html.PartialAsync("FooterCardapio")
        }
        else if (ViewContext.RouteData.Values["Controller"]?.ToString() == "HomeAriel")
        {
            @await Html.PartialAsync("FooterAriel")
        }
        else if (ViewContext.RouteData.Values["Controller"]?.ToString() == "CardapioAriel")
        {
            @await Html.PartialAsync("FooterCardapioAriel")
        }
        else
        {
            @await Html.PartialAsync("Footer")
        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
