@{
    ViewData["Title"] = "Home Page";
}

<div 
    class="w-100 d-flex flex-column justify-content-center text-start position-relative overflow-hidden bg-image pai" 
    style="height: 88vh; background-image: url('https://cdn.goomer.com.br/website/base/fe1/31d/7f5/jonathan-borba-8l8yl2ruusg-unsplash-scaled.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div 
        class="ms-2 lh-1 position-relative mw-100 ms-lg-5" 
        style="z-index: 1; color: #fff; font-family: Open Sans, sans-serif">
        <h1 
            class="mix">MIX BURGER</h1>
        <h1 style="color: #fed83c">
            BURGER <br />
            DE VERDADE
        </h1>
        <h1>Chega rapidinho para matar sua fome!</h1>
        <div class="mt-4">
            <a asp-area="" asp-controller="Cardapio" asp-action="Cardapio" class="btnCardapioA">Fazer Pedido</a>
        </div>
    </div>
</div>
<div 
    class="d-flex justify-content-center" 
    style="background-color: #fed83c; height: 7rem;">
    <img 
        class="position-absolute" 
        style="width: 10rem; height: 10rem; margin-top: -3rem; right: 44.5%; z-index: 1;"
        src="https://cdn.discordapp.com/attachments/1330955985006886983/1338182213354651668/Logo.png?ex=67aa26cd&is=67a8d54d&hm=db8e6ffa22529e80e0ee8d4181c1ab2ac29bad72b5c1b697d1c15fc776563381&"
        alt="" />
</div>
<div class="quem">
    <div 
        style="margin: 0 5rem; font-family: Poppins, sans-serif; z-index: 1;"
        class="d-flex justify-content-center g-5 position-relative">
        <img 
            style="width: 34rem; border-radius: 12px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); transition: transform 0.3s ease, box-shadow 0.3s ease;"
            class="h-auto foto" 
            src="https://meatzburger.com/wp-content/uploads/2021/10/meatz-burguer-quem-somos-1.png" 
            alt="" />
        <div
            style="color: #fff;"
            class="bg-black p-5 rounded-5 d-flex flex-column g-3 text-white text-lg-center">
            <h1 
                style="font-weight: 600; font: 2.5rem; font-family: Montserrat, sans-serif;"
                class="mt-2">Quem Somos</h1>
            <p 
                style="font-size: 2rem; color: #fff; line-height: 1.6; max-width: 45rem; z-index: 1; font-family: Open Sans, sans-serif;"
                class="position-relative">
                Nossos primeiros passos foram em 2015, dentro de um trailer em
                Brasília. Rapidamente, o desejo de entregar um burger artesanal
                com qualidade e preço justo cruzou as fronteiras, chegando até
                Belo Horizonte e nos anos seguintes em Manaus, no Rio de Janeiro,
                Goiânia e Fortaleza.<br />
                Hoje são 20 lojas espalhadas pelo Brasil, com uma experiência
                incrível e refeições de saborear rezando. Amamos o que fazemos e
                somos focados em oferecer a melhor qualidade, com ingredientes
                frescos e uma receita preparada como só a gente sabe!<br />
                Meatz Simples da Melhor Forma
            </p>
        </div>
    </div>
</div>
<div 
    style="padding: 4rem 1rem; background-color: #fed83c;"
    class="d-flex justify-content-center text-center">
    <div 
        style="max-width: 1200px;"
        class="w-100">
        <h1 
            style="font-size: 2rem;"
            class="text-black">Contatos</h1>
        <div 
            class="d-flex justify-content-between flex-wrap g-2">
            <div 
                class="d-flex flex-column gap-2">
                <a class="text-decoration-none" href="https://wa.me/+5511933878825">
                    <div class="contatos">
                        <i 
                            style="font-size: 4rem; color: #000000"
                            class="bi bi-whatsapp"></i>
                        <h2 
                            style="font-size: 1.2rem; font-weight: 500;">+55 11 97360-5684</h2>
                    </div>
                </a>
                <a class="text-decoration-none" href="https://www.instagram.com/mixburguer_itupeva/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D#">
                    <div class="contatos">
                        <i 
                            style="font-size: 4rem; color: #000000"
                            class="bi bi-instagram"></i>
                        <h2 
                            style="font-size: 1.2rem; font-weight: 500;">Mixburger_itupeva</h2>
                    </div>
                </a>
            </div>
            <div 
                class="d-flex flex-column gap-2">
                <a class="text-decoration-none" href="https://www.google.com/search?q=mix+burguer+itupeva&rlz=1C1GCEU_pt-BRBR1147BR1147&oq=MI&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyBggCEEUYOzINCAMQLhiDARixAxiABDIQCAQQLhjHARixAxjRAxiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDExMjRqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#">
                    <div class="contatos">
                        <i 
                            style="font-size: 4rem; color: #000000"
                            class="bi bi-telephone-fill"></i>
                        <h2 
                            style="font-size: 1.2rem; font-weight: 500;">(11) 93387-8825</h2>
                    </div>
                </a>
                <a class="text-decoration-none" href="https://www.facebook.com/people/Mix-Burguer/100088986305599/">
                    <div class="contatos">
                        <i 
                            style="font-size: 4rem; color: #000000"
                            class="bi bi-facebook"></i>
                        <h2 
                            style="font-size: 1.2rem; font-weight: 500;">Mix Burguer </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div 
    class="mt-5 d-flex flex-column gap-2 justify-content-center text-center">
    <h1 
        style="font: 2rem;"
        class="text-white">Mais+</h1>
    <div class="d-flex justify-content-center gap-3 mt-2">
        <a style="background-image: url(https://media-cdn.tripadvisor.com/media/photo-p/16/eb/25/22/burgueria.jpg); width: 15rem; height: 15rem;"
            class="d-flex align-items-center justify-content-center" 
            href="https://www.instagram.com/reel/C6gsvhnOR7t/?utm_source=ig_web_copy_link"><i style="color: #000000; font-size: 7rem;" class="bi bi-play-fill"></i></a>
        <img 
            style="width: 15rem; height: 15rem;"
            class="object-fit-cover" 
            src="https://firebasestorage.googleapis.com/v0/b/brendi-app.appspot.com/o/public%2Fstores%2FliDYZPGpWDhaJHW0sWIk%2Fimages%2Fproducts%2Fresized%2F6D3H0y7gvVbjla1lTWJ1_900x900.webp?alt=media&token=94da58c9-07f1-456e-8c9a-bb124c83e0ac" 
            alt="" />
        <a style="background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/eb/25/22/burgueria.jpg?w=900&h=500&s=1); width: 15rem; height: 15rem;"
           class="d-flex align-items-center justify-content-center"
           href="https://www.instagram.com/mixburguer_itupeva/reel/C9YXiy-xXj1/"><i style="color: #000000; font-size: 7rem;" class="bi bi-play-fill"></i></a>
        <img 
            style="width: 15rem; height: 15rem;"
            class="object-fit-cover" src="https://firebasestorage.googleapis.com/v0/b/brendi-app.appspot.com/o/public%2Fstores%2FliDYZPGpWDhaJHW0sWIk%2Fimages%2Fproducts%2Fresized%2FsQOGG266owKD412TDneW_900x900.webp?alt=media&token=0482d83c-d900-454a-b486-98abb3eae5f9" alt="" />
    </div>
    <div 
        class="d-flex justify-content-center gap-3 mt-2">
        <a style="background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/b6/75/45/lugar-agradavel.jpg?w=900&h=500&s=1); width: 15rem; height: 15rem;"
           class="d-flex align-items-center justify-content-center"
           href="https://www.instagram.com/mixburguer_itupeva/reel/DFOSAUWhmYR/"><i style="color: #000000; font-size: 7rem;" class="bi bi-play-fill"></i></a>
        <img 
            style="width: 15rem; height: 15rem;"
            class="object-fit-cover" 
            src="https://firebasestorage.googleapis.com/v0/b/brendi-app.appspot.com/o/public%2Fstores%2FliDYZPGpWDhaJHW0sWIk%2Fimages%2Fproducts%2Fresized%2FbYnIUB2Cw7aEeiwtEO0p_900x900.webp?alt=media&token=c5a55722-772b-4128-bca2-5c1a95f71b21" 
            alt="" />
        <a style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWy10SlSzarz9y_pjcR_8doCpZO_DI9kHlxJ819EJDqubcmsio5SxvsQ8YryDZrI3PfOM&usqp=CAU); width: 15rem; height: 15rem;"
           class="d-flex align-items-center justify-content-center"
           href="https://www.instagram.com/mixburguer_itupeva/reel/DEGWWWuBrcO/"><i style="color: #000000; font-size: 7rem;" class="bi bi-play-fill"></i></a>
        <img 
            style="width: 15rem; height: 15rem;"
            class="object-fit-cover"
            src="https://firebasestorage.googleapis.com/v0/b/brendi-app.appspot.com/o/public%2Fstores%2FliDYZPGpWDhaJHW0sWIk%2Fimages%2Fproducts%2Fresized%2F0w161zPGbk2lA7IfyKdW_900x900.webp?alt=media&token=381d5c34-bdea-40f9-b12f-f34b9caf41fb"
            alt="" />
    </div>  
</div>