@{
    ViewData["Title"] = "Cardápio";
}

<div id="categorias"></div>
<div style="left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;"
     class="position-fixed top-0 w-100 h-100 d-none justify-content-center align-items-center popUps"></div>
<div style="width: 100%;"
    id="mensagem" 
    class="d-none">
    <div style="width: 100%;"
        class="d-flex text-center justify-content-center align-items-center mt-5">
        <h1 style="color: white;">Nenhum Item encontrado!!!</h1>
    </div>
</div>
<div style="font-family: Arial, Helvetica, sans-serif;"
    class="d-flex justify-content-center align-items-center mb-5 mt-5">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btnCardapioA">Voltar Home</a>
</div>