<img class="position-absolute logo"
         src="https://cdn.discordapp.com/attachments/1330955985006886983/1338182213354651668/Logo.png?ex=67aa26cd&is=67a8d54d&hm=db8e6ffa22529e80e0ee8d4181c1ab2ac29bad72b5c1b697d1c15fc776563381&"
         alt="Logo" />
    <div class="text">
        <h1 class="fw-bold">
            Mix Burger
        </h1>
        <h2 class="text-white fs-5 fw-semibold sub_titulo">
            Hamburgueria
        </h2>
    </div>
    <div class="d-flex align-items-center gap-3">
        <i class="bi bi-person-fill fs-2 text-dark cursor-pointer"></i>
        <i class="bi bi-bag-fill fs-4 text-dark cursor-pointer" onclick="btnSacola()"></i>
    </div>