<div class="bg-amarelo-mix p-10-20 text-lg-center d-flex align-items-center justify-content-center flex-wrap">
    <img class="mw-70px"
         src="~/IMGS/Logo.png"
         alt="" />
    <div class="ms-10px">
        <h1 class="fs-20px text-black m-0">
            Mix Burger
        </h1>
        <h2 class="fs-14px text-black m-5px-0-0-0">
            Hambugeria
        </h2>
    </div>
    <div class="ms-20px mt-3 mt-lg-0">
        <button onclick="irSugestão()"
                class="btn2">
            Ver Sugestões
        </button>
    </div>
</div>
<div class="p-20px text-amarelo-mix bg-black d-flex flex-column flex-lg-row justify-content-between align-items-lg-start">
    <div class="fs-18px text-lg-center mb-3 mb-lg-0">
        Trabalhe Conosco <br />
        <br />
        Mix Burguer 2021 - Todos os Diretos Reservados
    </div>
    <div class="text-light fs-2-2rem me-0 me-lg-18rem d-flex text-white gap-5 justify-content-center justify-content-lg-end text-decoration-none mb-3 mb-lg-0">
        <a class="text-light"
           href="https://www.facebook.com/people/Mix-Burguer/100088986305599/">
            <i class="bi bi-facebook"></i>
        </a>
        <a class="text-light"
           href="https://wa.me/+5511933878825">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a class="text-light"
           href="https://www.instagram.com/mixburguer_itupeva/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D#"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="fs-18px text-center">
        <div>Site feito por:</div>
        <div>Matheus</div>
        <div>Otavio</div>
        <div>Mikael</div>
        <div>Samuel</div>
    </div>
</div>